@import url('./theme/colors.css');
@import url('./theme/typography.css');
@import url('./theme/spacing.css');
@import url('./theme/layout.css');
@import url('./theme/radius.css');
@import url('./theme/transition.css');

/* --- 기본 리셋 --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.layout {
  background: var(--color-background);
  color: var(--color-text);
  transition: background var(--transition-duration) var(--transition-ease),
    color var(--transition-duration) var(--transition-ease);
}
