@import './theme/colors.css';
@import './theme/typography.css';
@import './theme/spacing.css';
@import './theme/layout.css';
@import './theme/radius.css';
@import './theme/transition.css';

/* --- 기본 리셋 --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.layout {
  background: var(--color-background);
  color: var(--color-text);
  transition: background var(--transition-duration) var(--transition-ease),
    color var(--transition-duration) var(--transition-ease);
}
